#app {
    justify-content: center;
    margin: 50px 50px 0 50px;
}

.desktop-menu {
    font-family: Courier;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.fake-sign-in-btn {
    text-transform: uppercase;
    color: white;
    background: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
}

#logo-text {
    width: auto;
    max-width: 150px;
}

.logo-text-container {
    display: inline-block;
    max-width: 150px;
    height: auto;
}

.menu-items-list {
    display: flex;
    margin-left: 125px;
    margin-right: 20px;
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .menu-items-list {
        display: flex;
        margin-left: 10px;
        margin-right: 5px;
    }
}

.fake-sign-in-container {
    display: inline-block;
    height: auto;
    justify-content: space-between;
    flex: 1;
    text-align: right;
}

.menu-item {
    margin-left: 28px;
}

.head-container {
    margin-top: 50px;
    border-radius: 20px;
    background: black;
}

.head-translated-container {
    transform: translateY(60px);
    display: flex;
}

.head-text-container {
    transform: translateY(210px);
    padding-left: 0px;
}

.head-img-container {
    overflow: hidden;
    border-radius: 50%; 
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.45);
    height: 550px;
    transform: scale;
    margin-left: 40px;
}

.head-img {
    border-radius: 200px;
    margin-left: -85%;
    margin-top: -35%;
    transform: scale(0.85);
}

.head-text {
    color: white;
    font-size: 132px;
    line-height: 78.1%;
    font-family: archivo_blackregular;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

