#app {
    justify-content: center;
    margin: 50px 50px 0 50px;
}

@media only screen and (min-width: 360px) and (max-width: 799px) {
    #app {
        margin: 50px 0px;
    }
}

@media only screen and (min-width: 640px) {
    .order-filter-container {
        margin-left: 10px;
        margin-bottom: 50px;
    }
}

.starships {
    display: grid;
    grid-template-columns: 58px 350px auto;
    grid-template-rows: 58px auto;
    grid-template-areas: 
        "our-starships-label filters order-filter"
        "our-starships-label filters starships";
    margin-top: 100px;
    margin-right: 60px;
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
    .starships {
        display: block;
        margin-top: 42px;
        margin-right: 0px;
    }
    .filters-container {
        margin-left: 0px;
        width: auto;
    }
    .order-filter-wrapper {
        margin-left: 10px;
    }
    .our-starships-label {
        writing-mode: horizontal-tb;
        transform: inherit;
        margin-top: 0px;
        font-size: 14px;
        line-height: 15px;
    }
    .apply-filters {
        text-align: center;
        margin-top: 25px;
    }
    .order-filter-container {
        margin-bottom: 26px;
        margin-top: 37px;
    }
    .starships {
        width: 345px;
        margin-left: auto;
        margin-right: auto;
    }
    .starship {
        width: 334px;
        margin-left: 0;
    }
    .starships-list {
        margin: 0 auto;
    }
    .starship-name-container {
        width: 100%
    }
    .filters-info {
        display: flex;
    }
}

@media only screen and (min-width: 800px) {
    .our-starships-label {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 24px;
        line-height: 26px;
        height: 100px;
        grid-area: our-starships-label;
        margin: 0;
        margin-top: 150px;
    }
    .filters-container {
        margin-left: 50px;
        width: 350px;
        height: fit-content;
        grid-area: filters;
        align-self: flex-start;
        height: -moz-fit-content;
    }
    .apply-filters {
        display: none;
    }
    .filters-info {
        display: none;
    }
    .starships-list {
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .order-filter {
        grid-area: order-filter;
    }
    .starship-cards-container {
        grid-area: starships-start;
    }
    .starship {
        width: 233px;
        margin-left: 25px;
    }
    .order-filter-wrapper {
        margin-left: auto;
    }
}

.starship-cards-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

.order-filter-container {
    flex-basis: 100%;
    font-family: Courier;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.order-filter {
    font-family: Courier;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    height: -moz-fit-content;
    height: fit-content;
    width: fit-content;
    width: -moz-fit-content;
}

div.order-filter p {
    font-family: Courier;
    font-weight: bold;
    padding-left: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    display: none;
}

.selected {
    display: block !important;
}

.order-filter-arrow {
    display: flex;
    align-items: center;
}

.order-filter-wrapper {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: bold;
    background: #212121;
    border: 1px black solid;
    border-radius: 3px;
}

.order-arrow {
    margin-left: 20px;
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}

.selected-order-filter {
    display: block !important;
}

.order-option {
    display: none;
}

.filter-mobile-button-container {
    content: url("../images/filter-mobile-button.png");
}

.filters-apply-count {
    margin-right: 5px;
}

.our-starships-label-container {
    flex-basis: 3vw;
    font-family: archivo_blackregular;
}

.our-starships-label {
    text-transform: uppercase;
}

/* GENERAL FILTER STYLES */

.filters-container {
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 3px;
    width: 345px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.apply-filters {
    margin-top: 26px;
    width: 100%;
}

.ship-filter {
    margin-left: 32px;
    margin-right: 32px;
    width: 100%;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.filter-checkbox {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    margin: 0;
    margin-right: 0px;
    margin-right: 18px;
}

.filter-name {
    font-family: archivo_blackregular;
    font-size: 22px;
    line-height: 24px;
}

.filter-info-text {
    color: #0066FF;
    font-size: 12px;
    line-height: 13px;
}

/* GENERAL FILTER STYLES END */

/* PILOTS FILTER STYLES */

.pilots-filter {
    display: flex;
    flex-direction: column;
}

.pilots-count {
    float: right;
}

.pilot-name {
    font-family: Courier;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-transform: capitalize;
    color: #212121;
}

.pilot {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.bold-blue-text {
    margin-top: 25px;
    font-family: Courier;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    align-items: center;
    text-transform: capitalize;
    color: #0066FF;
}

.load-pilots-label {}

/* PILOTS FILTER STYLE END */

/* SLIDER STYLES */

.slider {
    display: flex;
    justify-content: flex-start;
}

.slider-info-container {
    display: flex;
    justify-content: space-between;
}

.slider-input {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 55px;
    height: 27px;
    font-family: Courier;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #0066FF;
}

.slider-render-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
}

.slider-line {
    width: 276px;
    border: 2px solid #EDEDED;
    top: 8px;
    position: absolute;
}

.slider-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #0066FF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
}

.slider-selected-line-gap {}

/* SLIDER STYLES END */

/* STARSHIP CARDS STYLES */

.starships-list {}

.starship {
    height: auto;
}

.starship-header {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 25px;
    left: 27px;
}

.starship-name {
    font-size: 45px;
    line-height: 49px;
    flex-basis: 100%;
}

.starship-mlgt {
    font-size: 24px;
    line-height: 26px;
}

.starship-name-container {
    position: relative;
    background: #212121;
    border-radius: 11px;
    width: 100%;
    height: 220px;
    font-family: archivo_blackregular;
    color: white;
    text-transform: uppercase;
}

.starship-info-container {
    font-family: Courier;
    font-size: 22px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.starship-characteristic {
    flex-basis: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.starship-type {
    font-weight: bold;
}

/* STARSHIP CARDS STYLES END */